@tailwind base;
@tailwind components;
@tailwind utilities;


.post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }



/* Light Mode */
.post-content pre {
    background-color: #f5f5f5;  /* Light grey background */
    color: #333;                /* Dark grey text color */
    padding: 15px;              /* Padding around the text */
    border-radius: 5px;         /* Rounded corners */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font for code */
    font-size: 14px;            /* Set a comfortable font size */
    line-height: 1.5;           /* Improved line spacing */
    overflow-x: auto;           /* Allow horizontal scrolling for long lines */
    border: 1px solid #ddd;     /* Light border around the pre tag */
    margin-bottom: 20px;        /* Spacing below the pre tag */
    white-space: pre-wrap;      /* Allow line breaks */
    word-wrap: break-word;      /* Break long words if necessary */
}

/* Dark Mode */
.dark .post-content pre {
    background-color: #2d2d2d;  /* Dark grey background */
    color: #f8f8f2;             /* Light grey text color */
    padding: 15px;              /* Padding around the text */
    border-radius: 5px;         /* Rounded corners */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font for code */
    font-size: 14px;            /* Set a comfortable font size */
    line-height: 1.5;           /* Improved line spacing */
    overflow-x: auto;           /* Allow horizontal scrolling for long lines */
    border: 1px solid #444;     /* Dark border around the pre tag */
    margin-bottom: 20px;        /* Spacing below the pre tag */
    white-space: pre-wrap;      /* Allow line breaks */
    word-wrap: break-word;      /* Break long words if necessary */
}

